.swiper {
  width: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide i {
  font-size: 10rem;
}

.swiper-slide:nth-child(1n+0) {
  background-color: #735290;
}

.swiper-slide:nth-child(2n+0) {
  background-color: #fff;
}

.swiper-slide:nth-child(2n+0) i {
  color: #1d1d1d;
}

